{% extends "base.html" %}

{% block topbar %}

  <!-- By passing a valid access token here, we are able to display -->
  <!-- the user's images without having to download or prepare -->
  <!-- them ahead of time -->
  <p id="picture" style="background-image: url(https://graph.facebook.com/me/picture?type=normal&access_token={{token}})"></p>

  <div>
    <h1>Welcome, <strong>{{me.name}}</strong></h1>
    <p class="tagline">
      This is your app
      <a href="{{app.link}}">{{app.name}}</a>
    </p>
  </div>

{% endblock %}

{% block content %}
<section class="clearfix" id="samples">
      <h1>likeshared</h1>
	<!--      
	<div class="list">
        <h3>A few of your friends</h3>
        <ul class="friends">{% for friend in friends.data %}
        <li>
          <a href="#" onclick="window.open('http://www.facebook.com/{{friend.id}}')">
            <img src="https://graph.facebook.com/{{friend.id}}/picture" alt="{{friend.name}}">
            {{friend.name}}
          </a>
        </li>{% endfor %}</ul>
      </div>
       <div class="list inline">
        <h3>Friends Likes</h3>
        <ul class="things">{% for friendslike in friendslikes %}
        <li>
          <a href="#" onclick="window.open('http://www.facebook.com/{{friendslike.id}}')">
            <img src="https://graph.facebook.com/{{friendslike.id}}/picture?type=square" alt="{{friendslike.name}}">
            {{friendslike.name}}
          </a>
        </li>{% endfor %}</ul>
      </div>
      <div class="list">
        <h3>Things you like</h3>
        <ul class="things">{% for like in likes.data %}
        <li>
          <a href="#" onclick="window.open('http://www.facebook.com/{{like.id}}')">
            <img src="https://graph.facebook.com/{{like.id}}/picture?type=square" alt="{{like.name}}">
            {{like.name}}
          </a>
        </li>{% endfor %}</ul>
      </div>
	-->
	 <div class="list">
        <h3>Mutual Likes</h3>
        <ul class="things">{% for mutuallike in mutuallikes %}
        <li>
          <a href="#" onclick="window.open('http://www.facebook.com/{{mutuallike.page_id}}')">
            <img src="https://graph.facebook.com/{{mutuallike.page_id}}/picture?type=square" alt="{{mutuallike.page_name}}">
            {{mutuallike.page_name}}
          </a>
<!--	<ul> {% for friend in mutuallike.data %}
	
	 <li>
	  <a href="#" onclick="window.open('http://www.facebook.com/{{friend.uid}}')">
	    <img src="https://graph.facebook.com/{{friend.uid}}/picture?type=square">		    
	  </a>

	{{friend}}
	</li>{% endfor %}</ul>
	
        </li>{% endfor %}</ul>
      </div>
-->
	<div class="list">
        <h3>Friends who like this</h3>
        <ul>{% for mutuallike in mutuallikes %}
        <li>
	     <ul>{% for friend in mutuallike.data %}
		<li>
           	 {{friend.uid}}
		</li>
	     </ul>          
        </li>{% endfor %}</ul>
      </div>
    </section>
{{listlen}}
{{mutuallikes}}
{% endblock%}
